body {
    background-color: #5F5F5F;
}



h1 {
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.haut {
    background-color: #00CC99;
    border: none;
    color: black;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 14px 12px;
    border-radius: 2rem;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;

}

div {
    text-align: center;
}
